---
title: Index Page
---
extends layouts/_layout
block content
	ul(style="padding: 120px 60px;")
		li(style="margin-bottom: 15px;")
			a(href="overview.html") overview
		li(style="margin-bottom: 15px;")
			a(href="products.html") products
		li(style="margin-bottom: 15px;")
			a(href="campaigns.html") campaigns
		li(style="margin-bottom: 15px;")
			a(href="schedules.html") schedules
		li(style="margin-bottom: 15px;")
			a(href="payouts.html") payouts
		li(style="margin-bottom: 15px;")
			a(href="statements.html") statements
		li(style="margin-bottom: 15px;")
			a(href="inbox.html") inbox
		li(style="margin-bottom: 15px;")
			a(href="notification.html") notification
		li(style="margin-bottom: 15px;")
			a(href="notification-with-comment.html") notification-with-comment
		li(style="margin-bottom: 15px;")
			a(href="comment.html") comment

