.icon-arrow-down-fat {
  width: 1.33em;
  height: 1em;
  fill: #FFF;
}
.icon-arrow-left {
  width: 0.6em;
  height: 1em;
  fill: #11142D;
}
.icon-arrow-next-fat {
  width: 1.3em;
  height: 1em;
  fill: #11142d;
}
.icon-arrow-next {
  width: 1.2em;
  height: 1em;
  fill: #11142D;
}
.icon-arrow-prev {
  width: 1.2em;
  height: 1em;
  fill: #11142d;
}
.icon-arrow-right {
  width: 0.6em;
  height: 1em;
  fill: #11142D;
}
.icon-arrow-up-fat {
  width: 1.33em;
  height: 1em;
  fill: #FFF;
}
.icon-arrows {
  width: 0.63em;
  height: 1em;
  fill: #11142d;
}
.icon-bag {
  width: 0.95em;
  height: 1em;
  fill: #1b1d21;
}
.icon-bell {
  width: 0.92em;
  height: 1em;
  fill: #11142D;
}
.icon-box {
  width: 1.13em;
  height: 1em;
  fill: #11142D;
}
.icon-chart {
  width: 1em;
  height: 1em;
  fill: #1b1d21;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: #1b1d21;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #1B1D21;
}
.icon-comment {
  width: 1em;
  height: 1em;
  fill: #1B1D21;
}
.icon-discovery {
  width: 1em;
  height: 1em;
  fill: #1b1d21;
}
.icon-document {
  width: 0.95em;
  height: 1em;
  fill: #1b1d21;
}
.icon-dots-border {
  width: 4em;
  height: 1em;
  fill: #11142D;
}
.icon-download-fat {
  width: 0.94em;
  height: 1em;
  fill: #11142d;
}
.icon-download {
  width: 0.95em;
  height: 1em;
  fill: #7fba7a;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: #11142D;
}
.icon-editor-bold {
  width: 0.83em;
  height: 1em;
  fill: #fff;
}
.icon-editor-italic {
  width: 0.5em;
  height: 1em;
  fill: #808191;
}
.icon-editor-pic {
  width: 1.08em;
  height: 1em;
  fill: #808191;
}
.icon-editor-smile {
  width: 1em;
  height: 1em;
  fill: #808191;
}
.icon-folder {
  width: 1.06em;
  height: 1em;
  fill: #11142D;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-logout {
  width: 1em;
  height: 1em;
  fill: #1b1d21;
}
.icon-message {
  width: 1.11em;
  height: 1em;
  fill: #1b1d21;
}
.icon-moon {
  width: 1em;
  height: 1em;
  fill: #3f8cff;
}
.icon-more {
  width: 1em;
  height: 1em;
  fill: #1B1D21;
}
.icon-notification {
  width: 0.91em;
  height: 1em;
  fill: #1b1d21;
}
.icon-overview {
  width: 0.95em;
  height: 1em;
  fill: #fff;
}
.icon-plus-square {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-print {
  width: 1em;
  height: 1em;
  fill: #11142d;
}
.icon-profile {
  width: 0.81em;
  height: 1em;
  fill: #1b1d21;
}
.icon-remove {
  width: 1em;
  height: 1em;
  fill: #11142D;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #11142D;
}
.icon-settings {
  width: 0.91em;
  height: 1em;
  fill: #1b1d21;
}
.icon-star {
  width: 1em;
  height: 1em;
  fill: #1B1D21;
}
.icon-sun {
  width: 1em;
  height: 1em;
  fill: #3f8cff;
}
.icon-wallet {
  width: 1.1em;
  height: 1em;
  fill: #1b1d21;
}
